<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!--fixft开始-->
    <div class="fixft">
        <a href="index.html" class="current">
            <span><img src="images/navicon_45.png" class="img1"><img src="images/navicon_28.png" class="img2"></span>
            <i>首页</i>
        </a>
        <a href="publish.html">
            <span><img src="images/navicon_48.png" class="img1"><img src="images/navicon_30.png" class="img2"></span>
            <i>分类</i>
        </a>
        <a href="shopcar.html">
            <span><img src="images/navicon_50.png" class="img1"><img src="images/navicon_32.png" class="img2"><em>12</em></span>
            <i>购物车</i>
        </a>
        <a href="center.html">
            <span><img src="images/navicon_42.png" class="img1"><img src="images/navicon_35.png" class="img2"></span>
            <i>我的</i>
        </a>
    </div>
    <!--fixft结束-->

</body>
</html>
